lab_rab_2/src/save/carRental.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subscriber" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="model"/>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:int" name="yearIssue"/>
              <xs:element type="xs:int" name="price"/>
              <xs:element type="xs:int" name="seats"/>
              <xs:element type="xs:int" name="rent"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>